@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  line-height: normal;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
ol,
ul {
  list-style: none;
  padding-left: 0;
}

body {
  font-size: 1vw;
  background-color: #f5f9ff;
  position: relative;
  overflow-x: hidden;
}

main {
  position: relative;
  margin-bottom: 12.5em;
}

section {
  z-index: 10;
  padding: 0 10.4em;
}

.background1 {
  position: absolute;
  top: -4.7em;
  right: 0;
  z-index: -10;
  width: 66em;
}
.background2 {
  position: absolute;
  top: 38.1em;
  right: 0;
  z-index: -10;
  width: 100em;
}
.background3 {
  position: absolute;
  top: 88.2em;
  right: 0;
  z-index: -10;
  width: 38em;
}

.coin1,
.coin2,
.coin3,
.coin4,
.coin5,
.coin6,
.coin7,
.coin8,
.coin9,
.coin10,
.coin11 {
  position: absolute;
  z-index: 10;
}
.coin1 {
  width: 8em;
  top: 46.9em;
  left: 87em;
}
.coin2 {
  width: 4em;
  top: 41.1em;
  left: 9em;
}
.coin3 {
  width: 3em;
  top: 86.5em;
  left: 73em;
}
.coin4 {
  width: 8em;
  top: 97.5em;
  left: 41em;
}
.coin5 {
  width: 7em;
  top: 120.5em;
  left: 3em;
}
.coin6 {
  width: 2.7em;
  top: 132em;
  left: 77.2em;
}
.coin7 {
  width: 3em;
  top: 143.5em;
  left: 84em;
}
.coin8 {
  width: 3em;
  top: 161.5em;
  left: 15em;
}
.coin9 {
  width: 6em;
  top: 130.5em;
  left: 16em;
}
.coin10 {
  width: 3em;
  top: 146.5em;
  left: 8em;
}
.coin11 {
  width: 3em;
  top: 26.5em;
  left: 42em;
}

.button {
  background-color: #ffbc15;
  border-radius: 40px;
  text-decoration: none;
  padding: 0.9em 2.5em;
  letter-spacing: 0.05em;
  font-size: 1.4em;
  color: #3d3d3d;
  font-weight: 500;
  z-index: 10;
}
.button:hover {
  color: #ffffff;
  background-color: #8ab70f;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.title {
  font-weight: 900;
  color: #444444;
  font-size: 3.4em;
  margin-bottom: 0.1em;
  z-index: 10;
}
.text {
  font-weight: 500;
  color: #828282;
  font-size: 1.55em;
  z-index: 10;
}

.header {
  padding: 2.2em 0 0 10.4em;
}
.logo {
  width: 9.5em;
}

.main-screen {
  padding-top: 6.8em;
  position: relative;
  margin-bottom: 21.2em;
}
.main-screen__title {
  font-weight: 900;
  font-size: 4.5em;
  max-width: 7em;
  line-height: 1.2em;
  color: #444444;
  margin-bottom: 0.2em;
}
.main-screen__text {
  font-weight: 500;
  font-size: 2em;
  max-width: 20em;
  line-height: 1.2em;
  color: #828282;
  margin-bottom: 1.6em;
}
.main-screen__img {
  position: absolute;
  width: 52.5em;
  top: -4.4em;
  right: 0.6em;
}

.bonus {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7.9em;
  overflow-x: hidden;
  padding: 0;
}
.bonus__text {
  margin-bottom: 3.3em;
}
.bonus__list {
  display: flex;
  margin-bottom: 2.6em;
}
.bonus__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 38.6em;
}
.bonus__list-item:not(:last-child) {
  margin-right: 2.1em;
}
.bonus__img {
  width: 18.8em;
  transform: translateY(-2.3em);
  margin-bottom: -0.5em;
}
.second-img {
  width: 20.2em;
  transform: translateY(-2.7em);
}
.bonus__list-text {
  font-size: 1.3em;
  color: #444444;
  letter-spacing: 0.05em;
  margin-bottom: 0.3em;
}
.bonus__list-title {
  color: #85aee3;
  font-size: 2.5em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 1.2em;
}

.start {
  position: relative;
}
.start__list-item {
  display: flex;
  align-items: center;
  position: relative;
}
.start__list-item:not(:last-child) {
  margin-bottom: 1.7em;
}
.start__img-wrapper {
  background-color: #dfecfd;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.8em;
}
.start__list-text {
  font-size: 1.3em;
  letter-spacing: 0.05em;
}
.start > h2 {
  margin-bottom: 0.6em;
}
.start__list {
  max-width: 50%;
}
.start__arrow {
  position: absolute;
  width: 4.5em;
}
.arrow1 {
  right: 9em;
  top: 2.4em;
}
.arrow2 {
  right: 15em;
  top: 2.4em;
}
.start__img {
  position: absolute;
  right: 8em;
  top: 0em;
  width: 43.2em;
}

.footer {
  background-color: #dfecfd;
  padding-top: 4.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.footer__text {
  max-width: 28em;
  line-height: 130%;
  text-align: center;
  margin-bottom: 2em;
}
.footer__numbers-wrapper {
  height: 10em;
  width: 51em;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-bottom: 2.5em;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 3em 4.4em;
  justify-content: space-between;
  position: relative;
}
.footer__numbers-wrapper > div {
  display: flex;
  justify-content: space-between;
}
.numbers {
  height: 4em;
}
.footer__button {
  margin-bottom: 8em;
}
.footer__rights {
  z-index: 10;
  line-height: 243%;
  color: #444444;
}
.footer__background {
  position: absolute;
  bottom: 0;
  width: 99.5em;
}
.numbers:not(:last-child) {
  margin-right: 0.9em;
}
.footer__numbers2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16.3em;
}
.footer__numbers3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 26.5em;
}
.footer__numbers1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4em;
}
.footer__numbers4 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 36.4em;
}
.background4 {
  display: none;
}
.start__list-img {
  width: 2.5em;
}
@media (max-width: 500px) {
  .header {
    padding: 6em 0 0 0;
    display: flex;
    justify-content: center;
    z-index: 100;
  }
  .logo {
    width: 17.9em;
    z-index: 100;
  }
  .background1 {
    top: -11.7em;
    right: -28em;
    width: 150em;
  }
  .main-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.8em;
  }
  .main-screen__title {
    font-size: 6.5em;
    max-width: 9em;
    text-align: center;
    margin-bottom: 0.6em;
  }
  .main-screen__text {
    font-size: 4.3em;
    text-align: center;
  }
  .background-wrapper {
    position: absolute;
    overflow-x: hidden;
    left: 0;
    right: 0em;
    top: -10em;
    height: 81em;
  }
  .button {
    font-size: 3.9em;
    padding: 1.2em 3.3em;
  }
  .button:hover {
    color: #3d3d3d;
    background-color: #ffbc15;
  }
  .main-screen__img {
    width: 92.5em;
    top: 48.6em;
    right: 50%;
    transform: translateX(50%);
  }
  .main-screen {
    margin-bottom: 88.2em;
  }
  .title {
    font-size: 6em;
    margin-bottom: 0.8em;
  }
  .text {
    font-size: 3.75em;
  }
  .bonus__list {
    width: 100%;
    flex-direction: column;
    padding: 0 3.75em;
  }
  main {
    padding: 0;
    margin-bottom: 25.5em;
  }
  section {
        padding: 0 3.75em;
  }
  .bonus__list-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 11.2em;
  }
  .bonus__list-item:last-child {
    margin-bottom: 3.2em;
  }
  .bonus__img {
    width: 45.8em;
    transform: translateY(-5.5em);
  }
  .second-img {
    width: 51.8em;
    transform: translateY(-6.9em);
  }
  .bonus__list-text {
    margin-top: -0.4em;
  }
  .second-img + .bonus__list-text {
    margin-top: -0.8em;
  }
  .bonus__list-title {
    margin-bottom: 1em;
  }
  .bonus {
    margin-bottom: 11.9em;
    padding: 0;
  }
  .background-wrapper1 {
    position: absolute;
    overflow-x: hidden;
    left: 0;
    right: 0;
    top: 139em;
    height: 160em;
  }
  .background2 {
    top: 0;
    right: 0;
    left: -19em;
    z-index: -10;
    width: 279em;
  }
  .start {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .start__list {
    width: 100%;
    max-width: none;
  }
  .start__list-img {
    width: 6.2em;
  }
  .start__img-wrapper {
    width: 12.8em;
    height: 12.8em;
  }
  .start__list-item:not(:last-child) {
    margin-bottom: 3em;
  }
  .start__list {
    margin-bottom: 65em;
  }
  .start__img {
    right: 50%;
    transform: translateX(50%);
    top: 66em;
    width: 92.2em;
  }
  .background3 {
    display: none;
  }
  .background4 {
    position: absolute;
    bottom: -10em;
    right: 4em;
    z-index: -10;
    width: 91em;
    display: block;
  }
  .start__arrow {
    width: 12.5em;
  }
  .arrow1 {
    right: 12em;
    top: 5.4em;
  }
  .arrow2 {
    right: 33.7em;
    top: 6.4em;
  }
  .footer {
    padding-top: 9.5em;
  }
  .footer__text {
    max-width: 24em;
    margin-bottom: 1.1em;
  }
  .footer__rights {
    font-size: 3.2em;
  }
  .footer__numbers-wrapper {
    height: 19.2em;
    width: 90.6em;
    margin-bottom: 6em;
  }
  .numbers {
    height: 7.7em;
  }
  .numbers:not(:last-child) {
    margin-right: 1.7em;
  }
  .footer__numbers2 {
    left: 26.9em;
  }
  .footer__numbers3 {
    left: 46.7em;
  }
  .footer__numbers4 {
    left: 65.4em;
  }
  .footer__button {
    margin-bottom: 6em;
  }
  .coin11 {
    width: 6.5em;
    top: 133.5em;
    left: 93em;
  }
  .coin2 {
    width: 8em;
    top: 139.1em;
    left: 2em;
  }
  .coin9 {
    width: 19em;
    top: 296.5em;
    left: -3em;
  }
  .coin10 {
    width: 9em;
    top: 356.5em;
    left: 87em;
  }
  .coin6 {
    width: 9.7em;
    top: 450em;
    left: 84.2em;
  }
  .coin1 {
    width: 18em;
    top: 448.9em;
    left: 0em;
  }
  .coin3 {
    width: 7em;
    top: 533.5em;
    left: 10em;
  }
  .coin4,
  .coin7,
  .coin8  {
    display: none;
  }
}
